{% extends 'base.html' %}
{% block content %}
<h2> List of available videos</h2>

<a href="{% url 'app:upload' %}" class="btn btn-primary btn-sm">Upload Video</a>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Uploaded Date</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    {% for video in videos %}
    <tr>
        <th>{{video.title}}</th>
        <th>{{video.author}}</th>
        <th>{{video.uploaded_date}}</th>
        <th><a href="{% url 'app:play' video.uuid  %}" class="btn btn-primary btn-sm">Play Video</a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}